@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Custom scrollbar styles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Safe area for iOS */
.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}